.contenedor{
	background-color: white;
	border: 0.5px solid #8F8E8E;
}

.box{
	width: 25%;
	height: 100px; 
	float: left;

}
.clearfix{
	overflow: auto;
}

.n1{
	background-color: #FFFF00; 
}

.n2{
	background-color: #3A81BA; 
}

.n3{
	background-color: #D60F41; 
}
